<div class="assistance">
    <ul id="requester">
        <li><button><img src="http://localhost:3000/images/MAG.png"> Magnifying Glass</button></li>
        <li><button><img src="http://localhost:3000/images/txt2spch.png"> Text to Speech</button></li>
        <div class="ass-dropdown">
            <li><button id="drinkrq" onclick="showDrinks()" class="ass-dropbtn"><img src="http://localhost:3000/images/refill.png">
                    Tap to Select
                    Refill</button></li>
            <div id="ass-drop" class="ass-dropdown-content">
                <a href="#" class="drink">Milk</a>
                <a href="#" class="drink">Leche</a>
                <a href="#" class="drink">Cow Juice</a>
            </div>
        </div>
        <li><button id="servicerq"><img src="http://localhost:3000/images/assistance.png"> Tap for Assistance</button></li>
    </ul>
</div>