<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="guest"><img src="http://localhost:3000/images/discord-logo.png" height="49"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <!--shows that it is current tab-->
                    <a class="nav-link" href="guest-appetizers">Appetizers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-entrees">Entrees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-kids-meals">Kid's Meals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-desserts">Desserts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-drinks">Drinks</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="guest-games">Play Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-order">View Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="guest-pay">Payment</a>
                </li>
            </ul>
        </div>
    </div>
</nav>