<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Order</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
</head>
<body>
<!--
<div class= "left">
	<div class="centered">
	</div>

	<h1>Order</h1>
	<div class = "right">
		<div class = orderbtn>
				<button type="button" class="btn btn-secondary btn-lg">Edit</button>
				<button type="button" class="btn btn-secondary btn-lg">X</button>
		</div>
	</div>

<div class = "right">
	<div class = orderbtn>
			<button type="button" class="btn btn-secondary btn-lg">Edit</button>
			<button type="button" class="btn btn-secondary btn-lg">X</button>
	</div>-->
</div>

<div class = "col-md-6">
	<h3> Acai Bowl</h3>
	<h5>$7.99</h5>
	<hr style="clear:both;"/>
	<p><img src="../img/appetizers/acai-bowl.jpg" alt="Acai Bowl" style="float:left" width="290" height="200" hspace="20">
		Organic acai blended with strawberries and bananas, and topped with crunchy granola, fresh blueberries and raspberries, sliced bananas, almonds, granola, and chia seeds.</p>
		<hr style="clear:both;"/>
		<form>
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Notes and Allergies</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
				</div>
		</form>
		<hr style="clear:both;"/>
		<br>
		<button type="button" class="btn btn-secondary btn-lg btn-block">Place Order</button>
</div>
		<br><br><br>
</div>

<!--Assistance Buttons-->
<!--<header>
<div class="assistance">
	<ul>
		<li><button><img src="../img/MAG.png"> Magnifying Glass</button></li>
		<li><button><img src="../img/txt2spch.png"> Text to Speech</button></li>
		<div class="ass-dropdown">
			<li><button onclick="showDrinks()" class="ass-dropbtn"><img src="../img/refill.png"> Tap to Select Refill</button></li>
			<div id="ass-drop" class="ass-dropdown-content">
			    <a href="#">Milk</a>
			    <a href="#">Leche</a>
			    <a href="#">Cow Juice</a>
			</div>
		</div>
		<li><button><img src="../img/assistance.png"> Tap for Assistance</button></li>
	</ul>
</div>
</header>-->
    <!--Assistance Buttons-->
    <% include partials/assistance %>
</body>
<footer>
    <!-- Navigation -->
    <% include partials/guestnavbar %>

    <!--@ bottom to allow DOM to fully load-->
    <script src="http://localhost:3000/javascripts/customer.js"></script>
</footer>
</html>