<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Games</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
</head>
<body>

	<div class="left">
		<!--Page Title-->
		<h1>Games</h1>

		<!--actual game selection-->
		<div class="game-selection">
			<table>
				<thead>
					<tr>
						<th scope="col">Tic-Tac-Toe</th>
						<th scope="col">Snake</th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<!--change out # for game link?-->
						<td><a href="#"><img src="http://localhost:3000/images/games/tic-tac-toe.gif" height="100%"></a></td>
						<td><a href="#"><img src="http://localhost:3000/images/games/snake.gif" height="75%"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

    <!--Assistance Buttons-->
    <% include partials/assistance %>
</body>
<footer>
    <!-- Navigation -->
    <% include partials/guestnavbar %>
    <!--@ bottom to allow DOM to fully load-->
    <script src="http://localhost:3000/javascripts/customer.js"></script>
</footer>
</html>