<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Order</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
	</head>
<body>

<!--payment-->
<div class= "left">
	<h1>Payment</h1>
	<br>
	<br>
	<div class="Order Total">
		<h2>Order Total</h2>
		

	</div>
	<div class="pay-method">
		<h2>Pay with Cash</h2>
		<h4>Tap the 'Tap for Assistance' Button</h4>
	</div>
	<div>
		<h2>Pay with Credit Card</h2>
		<form>
			Credit Card #: <input type="text" name="ccNum">
		</form>
	</div>
	<br>

	<div class="pay-method">
		<button type="button" class="btn btn-primary">Submit Payment</button>
	</div>
	<br>
	<button type="button" class="btn btn-primary modal-submit" data-toggle="modal" data-target="#exampleModalLong">
		Split Payment
	  </button>
</div>

<!--Assistance Buttons-->
<% include partials/assistance %>

<!--Modal-->
<div class="bg-modal">
	<div class="modal-content">
		<div class="close">+</div>
		<div class="modal-main-content">
			<h3 class="modal-menu-name">Name</h3>
			<img class="modal-menu-img" src="img" alt="nameOfImage" style="float:left" width="390" height="300" hspace="20">
			<h4 class="modal-menu-price">Price</h4>
			<h5 class="modal-menu-desc">Description</h5>
		</div>
		<br>
		<form>
			<textarea name="notes" placeholder="Type in any allergies or anything you want added/removed from the item." cols = "60" rows="5"></textarea>
		</form>
		<!--<form method="post" action="/submitToOrder">
			<textarea name="allergiesEdit" placeholder="Type in any allergies or anything you want added/removed from the item." cols = "60" rows="5"></textarea>
			<input type="submit" class="btn btn-secondary btn-sm" value="Submit to Order">
		</form>-->
		<button type="button" class="btn btn-secondary btn-sm modal-submit">Split Payment</button>
	</div>
</div>


</body>

<footer>
    <!-- Navigation -->
	<% include partials/guestnavbar %>
</footer>
</html>