<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Games</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
	 crossorigin="anonymous"></script>

	<link href="http://localhost:3000/stylesheets/customerStyle.css" rel="stylesheet">
	<link href="http://localhost:3000/stylesheets/pongStyle.css" rel="stylesheet">
	<script>
        var tblNumber = <%= tablenum %>
    </script>
</head>
<body>
	
	<div class="left">
		<h1>Games</h1>

		<div class="game-selection">
			<table>
				<thead>
					<tr>
						<th scope="col">Tic-Tac-Toe</th>
						<th scope="col">Snake</th>	
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="#"><img src="http://localhost:3000/images/games/tic-tac-toe.gif" height="100%"></a></td>
						<td><a href="#"><img src="http://localhost:3000/images/games/snake.gif" height="75%"></a></td>
					</tr>
					<tr>
						<td>
							<button class="play-tic btn btn-secondary btn-sm">Play Now</button>
						</td>
						<td>
							<button class="play-snake btn btn-secondary btn-sm">Play Now</button>
						</td>
					</tr>
					<tr>
						<td><br><br><br></td>
					</tr>
					<tr>
						<td colspan="2">
							<a href="#"><img src="http://localhost:3000/images/games/pong.gif"></a>							
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="play-pong btn btn-secondary btn-sm">Play Now</button>							
						</td>						
					</tr>
				</tbody>
			</table>
			<br><br><br><br><br><br><br>
		</div>
	</div>

	<!--Modal for tic-tac-toe-->
	<div class="bg-modal tic">
		<div class="modal-content">
			<div class="close close-tic">+</div>
			<div class="modal-main-content">
				<% include partials/tic %>				
			</div>
			<br>
		</div>
	</div>

	<!--Modal for snake-->
	<!--TODO: Ensure it works for touch screen movements-->
	<div class="bg-modal snake">
		<div class="modal-content">
			<div class="close close-snake">+</div>
			<div class="modal-main-content">
				<canvas id="stage" height="400" width="520"></canvas>
			</div>
			<br>
		</div>
	</div>

	<!--https://code.sololearn.com/Wzc1m31AJ55h/#js-->
 	<!--Modal for pong-->
	<div class="bg-modal pong">
		<div class="modal-content">
			<div class="close close-pong">+</div>
			<br>
			<div class="modal-main-content">
				<% include partials/pong %>				
			</div>
			<br>
		</div>
	</div>

    <!--Assistance Buttons-->
	<div class="assistance">
	    <ul id="requester">
	        <div class="ass-dropdown">
	            <li><button id="drinkrq" onclick="showDrinks()" class="ass-dropbtn"><img src="http://localhost:3000/images/refill.png">
	                    Tap to Select
	                    Refill</button></li>
	            <div id="ass-drop" class="ass-dropdown-content">
	                <% refill.forEach(function(item, index){ %>
	                <a href="#"><%= item %></a>
	                <% }) %>
	            </div>
	        </div>
	        <li><button id="servicerq"><img src="http://localhost:3000/images/assistance.png"> Tap for Assistance</button></li>
	    </ul>
	</div>



</body>
<footer>
    <!-- Navigation -->
    <% include partials/guestnavbar %>
    <!--@ bottom to allow DOM to fully load-->
    <script src="http://localhost:3000/javascripts/games.js"></script>
    <script src="http://localhost:3000/javascripts/customer.js"></script>
    <script src="http://localhost:3000/javascripts/pong.js"></script>
</footer>
</html>