<!DOCTYPE html>

<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/kitchenstaff/newkitchen.css">
        <% include partials/script %>
    </head>


<!-- Sidebar -->

<div class="sidebar">
      <% orderItems.forEach(function(item, index){ %>
      <div class= "order_display_sidebar"> 
            <h5>Order #<%= item._id %></h5>



      
    </div>
    <% }) %>
</div>
 
    
<body>
<!--Main Page-->
<div class="main">
    <div class="button">
          <h3>Help</h3>
    </div>
    <div class="button">
          <h3>Ready</h3>
    </div>
    <div class="button">
          <h3>Cooking</h3>
    </div>

         
    <div class="order_display_main">
          
    </div>

</div>

</body>


<footer>
  <% include partials/navbar %>
</footer>

</html>
