<!DOCTYPE html>

<html>
    <head>
        <% include partials/head %>
        <link rel="stylesheet" href="http://localhost:3000/stylesheets/kitchenstaff/newkitchen.css">
        <% include partials/script %>
    </head>


<!-- Sidebar -->

<div class="sidebar">
    <div class= "order_display_sidebar"> 
          <h3>
                Order #1
                <div class = "status_indicator"> </div>
          </h3>
    </div>

</div>
 
    
<body>
<!--Main Page-->
<div class="main">
    <div class="button">
          <h3>Help</h3>
    </div>
    <div class="button">
          <h3>Ready</h3>
    </div>
    <div class="button">
          <h3>Cooking</h3>
    </div>

         
    <div class="order_display_main">
          
    </div>

</div>

</body>


<footer>
  <% include partials/navbar %>
</footer>

</html>
