<!DOCTYPE html>
<html>

<head>
    <title>Kitchen Staff View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="http://localhost:3000/stylesheets/style.css" rel="stylesheet">
</head>

<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%; overflow-y:scroll; height:800px;">
        <h3 style="background-color: rgb(24, 97, 192) ; padding: 15px; border: 1px solid rgb(0, 45, 128);">Order List</h3>
        <a href="#" class="w3-bar-item w3-button" style="padding: 75px; ">
            <font size="5">Order #5321</font>
        </a>
        <a href="#" class="w3-bar-item w3-button" style="padding: 75px;">
            <font size="5">Order #5322</font>
        </a>
        <a href="#" class="w3-bar-item w3-button" style="padding: 75px; ">
            <font size="5">Order #5323</font>
        </a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%;">

        <div style="background-color: rgb(24, 97, 192) ; padding: 15px; border: 1px solid rgb(0, 45, 128);">
            <div style="display: inline-block;">
                <h1 style="float: left;">
                    <font size="15"> Order #5321 </font>
                </h1>
                <h2 style="background-color: rgb(24, 97, 192) ; padding: 5px; width: 225px; height: 75px; float: left"></h2>
                <h2 href="#" class="w3-bar-item w3-button" style="background-color: rgb(160, 160, 160) ; padding: 5px; border: 1px solid rgb(0, 45, 128); width: 150px; height: 50px; float: left">Cooking</h2>
                <h2 href="#" class="w3-bar-item w3-button" style="background-color: rgb(160, 160, 160) ; padding: 5px; border: 1px solid rgb(0, 45, 128); width: 150px; height: 50px; float: left">Ready</h2>
                <h2 href="#" class="w3-bar-item w3-button" style="background-color: rgb(160, 160, 160) ; padding: 5px; border: 1px solid rgb(0, 45, 128); width: 150px; height: 50px; float: left">Help</h2>
            </div>
        </div>


        <div class="w3-container">
            <h2 style="padding: 5px; width: 325px; height: 25px;"></h2>
            <h2>Chicken and Waffles</h2>
            <p>A meal with both chicken and waffles.</p>
            <p>So many calories you wouldn't believe it.</p>
        </div>

    </div>

</body>
<footer>
    <% include partials/navbar %>
</footer>

</html>