<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= page%>
    </title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/waitstaff.css">
    <script>

        //var serviceReqs = <% -JSON.stringify(serviceReqs) %>
                //alert(serviceReqs[0]["tableNum"])
    </script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- JQuery with AJAX? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    
    <script src="/javascripts/clock.js"></script>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Table # <label id='tblNumber'></label></h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#" onclick="hideContent('content')">Table View</a>
                </li>
                <li>
                    <a href="#" onclick="hideContent('orderinfo')">Order Info</a>
                </li>
                <li>
                    <a href="#" onclick="hideContent('service')">Service Request</a>
                </li>
            </ul>
        </nav>

        <!-- tables -->
        <div id="content">
            <!-- Table Grid -->
            <!-- First ROW -->
            <div class="table-layout">
                <div class="box" id="box1" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 1 <span>
                    </button>
                </div>
                <div class="box" id="box2" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 2 <span>
                    </button>
                </div>
                <div class="box" id="box3" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 3 <span>
                    </button>
                </div>
                <div class="box" id="box4" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 4 <span>
                    </button>
                </div>
                <div class="box" id="box5" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 5 <span>
                    </button>
                </div>
                <div class="box" id="box6" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 6 <span>
                    </button>
                </div>
                <div class="box" id="box7" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 7 <span>
                    </button>
                </div>
                <div class="box" id="box8" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 8 <span>
                    </button>
                </div>
            </div>

            <div class="table-layout">
                <div class="box" id="box9" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 9 <span>
                    </button>
                </div>
                <div class="box" id="box10" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 10 <span>
                    </button>
                </div>
                <div class="box" id="box11" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 11 <span>
                    </button>
                </div>
                <div class="box" id="box12" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 12 <span>
                    </button>
                </div>
                <div class="box" id="box13" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 13 <span>
                    </button>
                </div>
                <div class="box" id="box14" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 14 <span>
                    </button>
                </div>
                <div class="box" id="box15" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 15 <span>
                    </button>
                </div>
                <div class="box" id="box16" class="container-fluid">
                    <button class="boxButton" type="button">
                        <span> 16 <span>
                    </button>
                </div>
            </div>


        </div>

        <div id="service" style="display: none">
            <div id="refillsDiv">
                <p> Refills Needed: </p>
                <ul id="refillsList">
                    <li>Sprite</li>
                    <li>Milk</li>
                    <li>Water</li>
                    <li>Water</li>
                </ul>
            <div>
            <button id="clearRefills"> Clear Refills</button>
            <button id="clearServiceRequest"> Clear Service Request</button>
            <button id="requestManager"> Request Managerial Assistance </button>
            <button id="adjustTotal"> Adjust Total </button>
        </div>

        <div id="orderinfo" style="display: none">
            <h1>Order #</h1>
            <hr>
            <div id="entities">
            </div>
        </div>
</body>
<footer>
    <% include partials/navbar %>
    <script src="/javascripts/waitstaff/waitstaff.js"></script>
    <script src="/javascripts/waitstaff/edit_remove_order.js"></script>
    <script src="/javascripts/waitstaff/hideElement.js"></script>
</footer>


</html>