.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    background-color: #7289DA;
    overflow-x: hidden;
    overflow-y: auto; 
}

.button {
    height: 35px;
    width: 110px;
    background-color: #7289DA;
    color: #fff;
    border: none;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    margin-left: 10px;
    float:right;
    border-top: 5px;
}

.button:hover {
    transition: 0.4s;
    background-color: #5b70b7;
}


.order_display_sidebar{
    height:45px;
    width: auto;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.order_display_sidebar:hover {
    transition: 0.4s;
    background-color:#5b70b7;
}

.order_display_main {
    height: 200px;
    width: 400px;
    background-color: #444;
    color:#fff;
    position: relative;
    margin-left: 40%;
    margin-top: 0%;
    padding: 50px 5px;
    display: none;
    border-radius: 8px;
    text-align: center;
}


.status_indicator{
    height: 20px;
    width: 20px;
    background-color: #66FFB2;
    float: right;
    display: none;
}

body{
    color: #fff;
    background-color: #444;
}


