@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

/*-----Navbar-----*/
.navbar {
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 10px;
  padding-left: 10px;
}

.nav-link {
  font-size: 1.1em !important;
}

/*Carousel*/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: .5px .5px 10px #222;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500%;
  text-shadow: .5px .5px 10px #222;
  padding-bottom: 1rem;
}

/*Button*/
.btn {
  background-color: #6648b1;
  border: 1px solid #6648b1;
}

.btn:hover {
  background-color: #563d7c;
  border: 1px solid #6648b1; 
}

.orderbtn{
  float: right;
  width: 300px;
  padding: 10px;
}

/*Assistance*/
.assistance {
  position: fixed;
  top: 0%;
  right: 0%;
  padding: 1px;
}

.assistance li {
  list-style-type: none;
  display: inline;
}

.assistance button {
  border: none;
  text-align: center;
  display: inline-block;
  background: rgba(74, 10, 80, 0.0);
  padding: none;
  color: white;
  text-shadow: .5px .5px 10px #222;
}

.assistance img {
  height: 50px;
  width: 50px;
}

/*Dropdown Refill Assistance*/
.ass-dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer; 
}

.ass-dropbtn: hover, .ass-dropbtn: focus {
  background-color: #2980B9;
}

.ass-dropdown {
  position: relative;
  display: inline-block;
  color:white;
  text-shadow: .5px .5px 10px #222;
}

.ass-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.ass-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.ass-dropdown-content a: hover {
  background-color: #ddd;
}

.show {display: block;}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;

}

/* Control the left side */
.left {
  position: absolute;
    left: 0px;
    width: 1500px;
    padding: 10px;
}

/* Control the right side */
.right {
    position: absolute;
    right: 590px;
    width: 300px;
    padding: 10px;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








