<div class="col-md-6">
    <!-- <h1> submitted_items.order_number </h1> -->
    <!-- <% submitted_items.forEach(function(item, index){ %> -->
    <p>
        <!-- <%= item.name %> -->
        <!-- we are given the ID for an item in a different database... -->
        <!-- menu_items.id.name -->
    </p>>
    <!-- removing an ITEM right justified-->
    <!-- javascript to remove the entry from the dbase -->
    <p>
        <!-- <%= item.notes %> -->
        <!-- submitted_items.notes -->
    </p>>
    <!-- editing an ITEM right justified-->
    <!-- javascript to edit the entry from the dbase -->

    <hr style="clear:both;" />
    <!-- <% }) %> --> -->
</div>